fastapi
uvicorn[standard]
facenet-pytorch
torch
torchvision
Pillow
pymongo
python-multipart
numpy
opencv-python-headless
pydantic[email]
pydantic-settings
python-jose[cryptography]
python-dotenv
passlib[bcrypt]
slowapi
redis
